* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background-color: rgba(50, 50, 50, 0.6);
}

.logo{
    color: white;
    font-size: larger;

}

.navlink {
    list-style: none;
    display: flex;
    gap: 8%;
    align-items: center;
    font-size: larger;
}

.navlink a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 0px;
    height: 2px;
    background-color: white;
    transition: width 0.4s ease;
}

.navlink a {
    position: relative;
    color: white;
    text-decoration: none;
    padding-bottom: 4px;
}

.navlink a:hover::after {
    width: 100%;
}