* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
/*Body*/
body {
    font-family: Arial, sans-serif;
}

/*Navigation bar*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background-color: rgba(50, 50, 50, 0.6);
    flex-wrap: wrap; 
}

/*Navigation bar logo (left side)*/
.logo{
    color: white;
    font-size: larger;

}
/*Navigation bar elements*/
.navlink {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: larger;
    flex-wrap: wrap; 
}

/*Navigation bar hover animation (underline)*/
.navlink a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0px;
    width: 0px;
    height: 2px;
    background-color: white;
    transition: width 0.4s opacity 0.8s ease 1.5s;
    transform: translateX(-50%);
}

.navlink a {
    position: relative;
    color: white;
    text-decoration: none;
    padding-bottom: 4px;
}

.navlink a:hover::after {
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}