* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(50, 50, 50, 0.3);
}

.logo{
    color: white;
    font-size:medium;
}

.navlink {
    list-style: none;
    display: flex;
}